.subscription
{ 
    width: 100%; 
    font-size: 2rem; 
    height: '500px';
     display: 'flex';
     flex-direction: 'column';
     justify-content: 'center';   
     align-items: 'center' ;

}

.mainDiv{
    width: '85%';
    margin: '3rem auto'
}
  
