.login-button{
    width: 350px;
}

.login-email{
    color: rgba(0,0,0,.25)
}

.error-msg{
    color: #ff0000bf;
    font-size: 0.7rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
}

.reset{
    float: right;
}

.submit{
    min-width: 100%;
}